* {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.a_hover {
    background:
        linear-gradient(to right,
            rgb(5, 54, 213),
            rgb(6, 45, 45)),
        linear-gradient(to right,
            rgb(8, 126, 34),
            rgb(10, 191, 176),
            rgb(17, 74, 132));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.a_hover:hover {
    background-size: 0 3px, 100% 3px;
}


.container {
    margin: 0 auto 0 auto;
    max-width: 1200px;
}

body {
    background: #08508ef8;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

.mg_bt_10 {
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    height: 30px;
}

input {
    width: 70%;
}

textarea {
    width: 90%;
    /* Ширина поля в процентах */
    height: 200px;
    /* Высота поля в пикселях */
    resize: none;
    /* Запрещаем изменять размер */
}

h3 {
    font-size: 25px;
}

/* header */
.header_content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header__logo {
    width: 150px;
    justify-content: space-between;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo__text {
    text-align: center;
    font-weight: 800;
}

.header__auth {
    height: 100%;
    min-width: 150px;
    justify-content: space-between;
    margin-right: 15px;
}

/* main */
main {
    background: #FFF;
    border-radius: 30px;
    padding: 20px;

}

.main {
    margin-bottom: 15px;
}

pre {
    width: 100%;
    white-space: break-spaces;
}

form {
    width: 600px;
    border: 1px solid;
    padding: 15px;
    border-radius: 10px;
}

form label {
    margin-bottom: 15px;
}

.itndx__title {
    margin-bottom: 30px;
}

/* disciplines */
.disciplines__table {
    margin-bottom: 30px;
    border: 1px solid;
    padding: 10px;
}

/* sections */
.sections__items {
    padding-bottom: 10px;
}

.sections__title {
    font-weight: 800;
}

.section__detail__links {
    width: 300px;
}

.link_to_sections_list {
    display: inline-block;
    margin-bottom: 15px;
}

.sections__table {
    margin-bottom: 30px;
    border: 1px solid;
}

.labs__items {
    padding-bottom: 10px;
}

/* tasks */
.tasks__table {
    margin-bottom: 30px;
    border: 1px solid;
}

.tasks__items {
    padding-bottom: 10px;
}

.tasks__title {
    font-weight: 800;
}

.task__content {
    margin-bottom: 20px;
}

.task__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.task__text {
    font-size: 20px;
}


.form__item {
    padding-bottom: 10px;
}

.form_check_task {
    margin-bottom: 30px;
    font-size: 20px;
}

.task__detail__links {
    width: 300px;
}

.form__item {
    width: 150px;
}

.item_choise_file {
    width: 200px;
}

.tasks__headers {
    border-bottom: 1px solid slategray;
}

.task_column {
    width: 33%;
}

/* registration */


.register__form-label {
    margin-bottom: 15px;
}

.btn__contaier {
    padding-top: 10px;
}

.form_check_help_img {
    width: 600px;
}

.form_check_help_text,
.form_check_help_img {
    margin-bottom: 30px;
}